Latest Release

 Get the latest {{{./juffrou-assemble/reference-manual.pdf}reference manual}} PDF.

 Click {{{http://sourceforge.net/projects/juffrou/files/juffrou-${project.version}-bundle.zip/download}here}} for the last release bundle.

Source Code

 Juffrou project is hosted on Github at github.com/cemartins/juffrou
 The source code is kept under a Git repository and can be checked out with the command
 
 <<<git clone https://github.com/cemartins/juffrou.git>>>
 
Maven Artifacts

 Juffrou artifacts released to the {{{http://nexus.sonatype.org/oss-repository-hosting.html}Sonatype OSS Repository}}
 
 Releases and Snapshots can be downloaded from {{https://oss.sonatype.org/content/groups/public/net/sf/juffrou}}
 
 If you have a maven project, you can add the dependency to your project:
 
 <<<\<groupId\>net.sf.juffrou\</groupId\>>>>
 
 <<<\<artifactId\>juffrou-reflect\<artifactId\>>>>
 
 <<<\<version\>${project.version}\<version\>>>>
 
