Latest Release

 Get the latest {{{./juffrou-assemble/reference-manual.pdf}reference manual}} PDF.

 Click {{{http://sourceforge.net/projects/juffrou/files/juffrou-${project.version}-bundle.zip/download}here}} for the last release bundle.

 You can also download the latest and earlier releases from the sourceforge downloads {{{http://sourceforge.net/projects/juffrou/files}page}}.
 
Source Code

 Juffrou project is hosted on sourceforge at juffrou.sourceforge.net
 The source code is kept under a Git repository and can be checked out with the command
 
 <<<git clone git://git.code.sf.net/p/juffrou/code juffrou-code>>>
 
 You can browse the online source repository {{{https://sourceforge.net/p/juffrou/code/ci/master/tree}here}}.

Maven Artifacts

 Juffrou artifacts released to the {{{http://nexus.sonatype.org/oss-repository-hosting.html}Sonatype OSS Repository}}
 
 Releases and Snapshots can be downloaded from {{https://oss.sonatype.org/content/groups/public/net/sf/juffrou}}
 
 If you have a maven project, you can add the dependency to your project:
 
 <<<\<groupId\>net.sf.juffrou\</groupId\>>>>
 
 <<<\<artifactId\>juffrou-reflect\<artifactId\>>>>
 
 <<<\<version\>${project.version}\<version\>>>>
 
